.sidenav-container {
    height: 100vh;
}
img{
    width: 20rem;
}

mat-sidenav{
    display: flex;
    background-color: var(--dark-color);
    color: aliceblue;
}


mat-list-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 16px; 
    transition: all 0.3s ease; 
}

mat-list-item {
    margin-bottom: 1rem;
    font-size: 20px; 
    padding-bottom: 1rem;

    font-weight: 500;
    color: var(--text-color); 
}

mat-list-item mat-icon {
    font-size: 20px; 
    margin-right: 12px; 
    margin: auto 1rem;
    padding-top: 1rem;
    color: var(--primary-color); 
}



mat-list-item:hover {
    background-color: var(--warning-color);
    border-radius: 4px; 
}

.active-link {
    font-weight: bold;
    color: var(--accent-color);
    border-left: 4px solid var(--accent-color);
    padding-left: 12px; 
}


.header{
    background-color: var(--warning-color);
}


@media (max-width: 768px) {
    mat-toolbar {
        padding: 8px; 
    }
    .sidenav-container {
        height: 90vh;
    }
}