.sidenav-container {
    height: 97vh;
}

mat-sidenav{
    background-color: var(--dark-color);
}

.header{
    background-color: var(--warning-color);
}


@media (max-width: 768px) {
    mat-toolbar {
        padding: 8px; 
    }
    .sidenav-container {
        height: 90vh;
    }
}