.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 85vh;
}

mat-card-content {
  font-size: 2rem;
  border: none;
}

.profile {
  display: flex;
  padding: 1rem;
  position: relative;
  justify-content: center;
}

.avatar {
  vertical-align: middle;
  width: 50%;
  height: 50%;
  border-radius: 50%;
}

.qrcode {
  vertical-align: middle;
  width: 15%;
  position: absolute;
  bottom: 0;
  left: 43%;
  background-color: aliceblue;
}

.information {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 3rem;
}

.name {
  display: flex;
  padding: 1rem 2rem;
  justify-content: center;
  column-gap: 1rem;
}

.buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.editBtn {
  box-shadow: inset 0px 1px 0px 0px #caefab;
  background: linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
  background-color: #77d42a;
  border-radius: 6px;
  border: 1px solid #268a16;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #aade7c;
}
.editBtn:hover {
  background: linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
  background-color: #5cb811;
}
.editBtn:active {
  position: relative;
  top: 1px;
}

.deleteBtn {
  box-shadow: inset 0px 1px 0px 0px #f29c93;
  background: linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
  background-color: #fe1a00;
  border-radius: 6px;
  border: 1px solid #d83526;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #b23e35;
}
.deleteBtn:hover {
  background: linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
  background-color: #ce0100;
}
.deleteBtn:active {
  position: relative;
  top: 1px;
}
