<div class="container">
  <div>
    <mat-card>
      <mat-card-content>Profile</mat-card-content>
    </mat-card>

    <div class="profile">
      <img
        src="https://i.pinimg.com/736x/89/90/48/899048ab0cc455154006fdb9676964b3.jpg"
        alt="Avatar"
        class="avatar"
      />
     

      <img     class="qrcode" [src]="'data:image/png;base64,' + student?.qr_code" alt="QR Code" />

    </div>

    <div class="name">
      <mat-form-field class="example-full-width">
        <mat-label>First Name</mat-label>
        <input matInput  [value]="student?.firstName" />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Midle Initial</mat-label>
        <input matInput  [value]="student?.mInitial" />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Last Name</mat-label>
        <input matInput  [value]="student?.lastName" />
      </mat-form-field>
    </div>

    <div class="buttons">
        <button class="editBtn">Edit</button>
        <button class="deleteBtn">Back</button>
    </div>
  </div>
  <div>
    <mat-card>
      <mat-card-content>Information</mat-card-content>

      <div class="information">
   
        <mat-form-field class="example-full-width">
          <mat-label>Suffix</mat-label>
          <input matInput  [value]="student?.suffix" />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Year Level</mat-label>
          <input matInput placeholder="Ex. Pizza" [value]="student?.yearLevel" />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Contact No.</mat-label>
          <input matInput placeholder="Ex. Pizza"[value]="student?.contact_number" />
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Ex. Pizza" [value]="student?.email" />
        </mat-form-field>
      </div>
    </mat-card>
  </div>
</div>
