.container-1 {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    height: 97vh;
    justify-content: space-evenly;
}

form.sign-in-form {
    opacity: 1;
    transition: 0.5s ease-in-out;
    transition-delay: 1s;
}

.panel {
    flex-direction: column;
    display: flex;
    align-items: center;
}

.input-field {
    width: 100%;
    height: 50px;
    background: #f0f0f0;
    margin: 10px 0;
    border-radius: 50px;
    display: flex;
    align-items: center;
    border: 2px solid #ddd;
}

.input-field input {
    flex: 5;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    margin-right: 1rem;
    color: #444;
}

.input-field i {
    flex: 1;
    text-align: center;
    color: #666;
    font-size: 18px;
}

.error-message {
    color: red;
    font-size: 12px;
    text-align: left;
    width: 100%;
    margin-left: 2rem;
}

.input-error {
    border-color: var(--danger-color);
}

.input-valid {
    border-color: var(--warning-color);
}

.btn {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background: var(--warning-color);
    color: #fff;
    font-weight: 600;
    margin: 10px 0;
    text-transform: uppercase;
    cursor: pointer;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-width: 238px;
    gap: 1rem;
}

.container {
    width: 80vh;
    border-radius: 15px;
}

.title {
    margin-top: 7%;
    font-size: 35px;
    color: var(--warning-color);
    margin-bottom: 10px;
}

.forgot-password {
    width: 100%;
    text-align: right;
    cursor: pointer;
}

.forgot-password a {
    color: #666;
    font-size: 14px;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.forgot-password a:hover {
    color: var(--warning-color);
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 90vw;
        background: rgba(0, 126, 148, 0.6);
        border-radius: 15px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3019607843), 0 6px 20px rgba(0, 0, 0, 0.3019607843);
        overflow: hidden;
        padding: 0;
    }
}